*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
}

#wrapper{
    width: 100%;
    height: 100%;
}

#header{
    width: 100%;
    height: 100px;
    background-color: rgb(248, 225, 219);
}

#header img{
margin: 10px 5%;}

#header ul{
    margin-left: 5%;
}

#header li{
    float: left;
    list-style: none;
    margin: 0px 30px;
    margin-left: 0px;
}

#header a{
    text-decoration: none;
}

#header a::before{
    color: black;
}

.carousel{
    width: 100%;
    height: 700px;
}

.carousel img{
    width: 100%;
    height: 700px;
}

.activities{
    width: 100%;
    height: 800px;
    background-color: rgb(250, 244, 242);
}

#activities__logo{
    width: 100%;
    height: 200px;
    text-align: center;
    color: darkgrey;
    font-size: 30px;
    font-weight: bold;
}

#activities__logo img{
    margin-top: 100px;
}

#activities__program{
    width: 100%;
    height: 450px;
    margin-top: 100px;
    text-align: center;
}

.activities__item{
    width: 25%;
    height: 400px;
    float: left;
    padding: 0px 20px;
}

.activities__background{
    width: 345px;
    height: 395px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

.activities__item img{
    border-radius: 20px;
    margin: 15px;
}

.activities__item p{
    color: darkgray;
    margin: 15px 15px;
}

.activities__item button{
    padding: 10px 30px;
    border-radius: 20px;
    border-color: rgba(184, 182, 182, 0.545);
    background-color: rgba(184, 182, 182, 0.545);
    color: darkgray;
}

#view_button{
    width: 100%;
    text-align: center;
}

#view{
    height: 30px;
    padding: 5px 30px;
    border-radius: 20px;
    background-color: rgb(250, 244, 242);
    color: rgb(234, 144, 121);
    border: 1px solid rgb(234, 144, 121);
}

.contact{
    width: 100%;
    height: 350px;
    background-color: rgb(248, 225, 219);
    background-image: url(mask.png);
    background-repeat: no-repeat;
    background-size: 1000px 350px;
}

#contact__left{
    width: 30%;
    height: 350px;
    margin-left: 20px;
    float: left;
}

#contact__left img{
    margin-left: 40%;
}

#contact__right{
    width: 30%;
    height: 350px;
    margin-left: 20%;
    float: left;
}

#contact__right h2{
    color: darkgray;
    margin: 20px 10px;
}

#contact__text p{
    color: darkgray;
}

#contact__text{
    text-align: left;
    margin-top: 50px;
}

#app{
    text-align: left;
    width: 70%;
    height: 100px;
    float: left;
}

#follow{
    width: 30%;
    height: 100px;
    float: left;
}

#follow i{
    font-size: 20px;
    color: rgb(234, 144, 121);
}

.footer{
    width: 100%;
    height: 300px;
    background-color: rgb(248, 225, 219);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    text-align: center;
    margin-top: 100px;
    /* margin: 100px auto; */
    padding-top: 100px;
}

.footer li{
    list-style: none;
    margin: 10px 0px;
}

#hipcamp{
    width: 500px;
    height: 200px;
    text-align: left;
}

#about{
    width: 150px;
    height: 200px;
    text-align: left;
}

#plan {
    width: 150px;
    height: 200px;
    text-align: left;
}

#help {
    width: 150px;
    height: 200px;
    text-align: left;
}

.footer__item{
    margin: 0px 50px;
    float: left;
}

a:link{
    color: black;
}
a:visited{
    color: darkgray;
}

.footer a{
    text-decoration: none;
}

